:root {
  --main-color: #2e2f42;
  --second-color: #434455;
  --third-color: #ffffff;
  --forth-color: #e7e9fc;
  --fifth-color: #4D5AE5;
  --btn-color: #F4F4FD;
  --btn-border-color:  #E7E9FC;
  --btn-active-color: #404BBF;
}

body {
  font-family: "roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul{
  margin: 0;
  padding-left: 0;
}

button{
  cursor: pointer;
}

img{
  display: block;
}

.accent-header{
  font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color:var(--fifth-color);
}

.accent-footer{
  font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: var(--fifth-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.row-list-title{
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  
  color: var(--main-color);
}

.row-list-sub{
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--second-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container{
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ----------------------- HEADER */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E7E9FC;
}

.header-container{
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color:var(--main-color);
  margin-right: 76px;
}


.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-link:hover,
.header-link:focus{
color: var(--second-color);
}

.header-link:active{
  color: var(--fifth-color);
}

.address {
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;

}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-mail:hover,
.header-mail:focus{
  color: var(--second-color);
}

.header-mail:active{
  color: var(--fifth-color);
}

.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-tel:hover,
.header-tel:focus{
  color: var(--second-color);
}

.header-tel:active{
  color: var(--fifth-color);
}

/*---------------------- HERO */

.hero {
  text-align: center;
  background-color: var(--main-color);
  padding-top: 188px;
  padding-bottom: 188px;

}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--third-color);
  margin: 0 auto;
}

.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--third-color);
  
  background: var(--fifth-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 48px;
  
}

.hero-btn:hover,
.hero-btn:focus{
  background:var(--fifth-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}

.hero-btn:active{
  background: var(--btn-active-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

/* --------------------------- FEATURES */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 22px;
}

/* .features-list-item {

} */

.features-list-title {
  color: var(--main-color);
  margin-bottom: 8px;
}

.features-list-text {
  color: var(--second-color);
}

/* ----------------------------- WORK */

.work {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-title {
  color: var(--main-color);
  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-list-item {
  border: 1px solid #E7E9FC;
}

/* ----------------------------- TEAM */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: var(--main-color);
  margin-bottom: 72px;
}

.team-content{
  padding: 32px 0px;
}

.team-list {
display: flex;
gap: 24px;
}

/*.team-list-item {} */

.team-list-title {
  text-align: center;

  color: var(--main-color);
  margin-bottom: 8px;
}

.team-list-text {
  text-align: center;
  color: var(--second-color);
}

/* ----------------------------- FOOTER */

.footer {
  background-color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--btn-color);
margin-bottom: 16px;
}

.footer-text {
  color: var(--forth-color);
  max-width: 264px;
}

/* ---------------PORTFOLIO */
/* ---------BUTTONS---------- */
.buttons {
  padding-top: 96px;
  padding-bottom: 72px;
}

.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.buttons-list-item {
  padding: 24px;
  height: 48px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  
  color: var(--fifth-color);
  background: var(--btn-color);

  border: 1px solid var(--btn-border-color);
  border-radius: 4px;
}

.buttons-list-item:hover,
.buttons-list-item:focus{
  color:var(--third-color);
  background: var(--fifth-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* -------------FIRST ROW */

.first-row {
  margin-bottom: 48px;
}

.first-row-list {
  display: flex;
  gap: 24px;
}

.first-row-content{
  padding: 32px 16px;
}


.first-row-list-item {
  border: 1px solid #E7E9FC;
}
.first-row-list-title {
margin-bottom: 8px;
}

.first-row-list-subtitle {

}
/* -------------SECOND ROW */
.second-row {
  margin-bottom: 48px;
}
.second-row-list {
  display: flex;
  gap: 24px;
}

.second-row-content{
  padding: 32px 16px;
}

.second-row-list-item {
  border: 1px solid #E7E9FC;
}
.second-row-list-title {
  margin-bottom: 8px;
}
.second-row-list-subtitle {
}

/* -------------THIRD ROW */

.third-row {
  margin-bottom: 120px;
}
.third-row-list {
  display: flex;
  gap: 24px;
}

.third-row-content{
  padding: 32px 16px;
}

.third-row-list-item {
  border: 1px solid #E7E9FC;
}
.third-row-list-title {
  margin-bottom: 8px;
}

.third-row-list-subtitle {
}